body {
	font-family: 'Superachachi', serif;
/*	margin:0; padding:0;*/
	margin:; 5vmin;
	font-size: 14.5px;
    font-weight: normal;
    line-height: 1.2em;
/*	text-align: justify; */
	background-color: #FFF;
	webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: "Superachachi";
	src: url('Superachachi-Medium.woff');  
	src: 	
		local('Superachachi'),
		local('Superachachi'),
		url('Superachachi-Medium.woff')
		format('woff');
}